<section>
    <div>
        <p><small>SECURELY BUY, SELL, STORE, SEND and TRACK</small></p>
        <h2>Buy crypto at true cost</h2>
        <p>Buy and sell 250+ cryptocurrencies with 20+ fiat currencies using bank transfers or your credit/debit card.
        </p>
    </div>
</section>


<div>
    <img src="assets/logo_blue.png" class="logo_blue" alt="Logo Crypto.com">
</div>

<div data-aos="flip-left" data-aos-delay="150">
    <button [routerLink]="['/app']" >
        Start the journey!
        <i class="fa-solid fa-caret-right fa-xl"></i>
    </button>
</div>

<app-footer id="footer"></app-footer>