<footer data-aos="fade-up" data-aos-delay="100">
    <div>
        <ul>
            <h4>App</h4>
            <li>Buy and Sell</li>
            <li>Crypto Earn</li>
            <li>Crypto Credit</li>
            <li>Crypto.com Pay</li>
        </ul>
    </div>
    <div>
        <ul>
            <h4>Exchange</h4>
            <li>Trading Arena</li>
            <li>Margin Trading</li>
            <li>Derivatives Trading</li>
            <li>Supercharger</li>
        </ul>
    </div>
    <div>
        <ul>
            <h4>Cards</h4>
            <li>Metal Visa Cards</li>
            <li>Prices</li>
            <li>Tax</li>
            <li>Support</li>
        </ul>
    </div>
    <div>
        <ul>
            <h4>Learn</h4>
            <li>What's Trending</li>
            <li>Product News</li>
            <li>Courses</li>
            <li>Events</li>
            <li>Market Updates</li>
        </ul>
    </div>
    <div>
        <ul>
            <h4>Company</h4>
            <li>About us</li>
            <li>Careers</li>
            <li>News</li>
            <li>Security</li>
            <li>Contact us</li>
            <li>Policy</li>
            <li>Affiliate</li>
            <li>Partners</li>
            <li><i class="fa-solid fa-hexagon-vertical-nft"></i></li>
        </ul>
    </div>
</footer>