<header data-aos="fade-left" data-aos-delay="100">
    <owl-carousel-o [options]="pictures">
        <ng-template carouselSlide>
            <img src="assets/listing/listing (2).png" alt="Crypto.com listing">
        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/listing/listing (3).png" alt="Crypto.com listing">
        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/listing/listing (4).png" alt="Crypto.com listing">
        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/listing/listing (5).png" alt="Crypto.com listing">
        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/listing/listing (6).png" alt="Crypto.com listing">
        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/listing/listing (1).png" alt="Crypto.com listing">
        </ng-template>
    </owl-carousel-o>
</header>