/* === Angular Pagination === */
.my-pagination /deep/ .ngx-pagination .current {
    color: black;
    background-color: #ffdf77;
}

.my-pagination /deep/ .ngx-pagination li {
    background-color: whitesmoke;
}

.my-pagination /deep/ .ngx-pagination {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 10px 0px;
    margin-bottom: 40px;
    text-align: center;
}

.my-pagination /deep/ .ngx-pagination li {
    color: black;
}


/* Input searchbar */
input {
    width: 80%;
}

/* === Table === */
table img {
    width: 40px;
}

table {
    color: whitesmoke;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 400px;
    border-collapse: separate;
    padding: 10px;
    border-spacing: 0px;
}

thead td {
    border-bottom: 2px solid rgba(245, 245, 245, 0.548);
}

table td {
    margin: 0px 10px;
    padding: 4px;
    font-size: 1.3em;
    cursor: pointer;
}

tr {
    background-color: #0b223c;
}

.percentualeVerde {
    color: green !important;
}

.percentualeRossa {
    color: brown;
}


.text-center {
    text-align: center;
}

/* Media Queries */
@media only screen and (min-width: 1300px) {
    table td {
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 799px) {
    table {
        font-size: 0.8em;
    }

    .extra-data {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    table img {
        width: 50px;
    }

    table {
        margin-top: 100px;
        width: 100%;
        padding: 0px;
        max-width: 1200px;
    }
}

@media only screen and (max-width: 599px) {
    table {
        width: 100%;
        font-size: 0.7rem;
        padding: 0;
    }
}