<app-header></app-header>

<table>
    <thead>
        <tr>
            <td>#</td>
            <!-- <td>&nbsp;</td> -->
            <td>Coin</td>
            <td>
                <input type="text" placeholder="Search .."   (keyup)="searchCoin()" [(ngModel)]="ricerca">
            </td>
            <td class="text-left">Symbol</td>
            <td>Price</td>
            <td class="text-center">24H Change</td>
            <td class="extra-data">24H High</td>
            <td class="extra-data">24H Low</td>
            <td class="extra-data">&nbsp;</td>
        </tr>
    </thead>
    <tbody *ngFor="let coin of coinsFiltrate| paginate: { itemsPerPage: 20, currentPage: page }">
        <tr>
            <td>{{coin.market_cap_rank}}</td>
            <td>
                <img src="{{coin.image}}" alt="{{coin.symbol}}">
            </td>
            <td>
                {{coin.name}}
            </td>
            <td>
                {{coin.symbol | uppercase}}
            </td>
            <td [ngClass]="{percentualeVerde: coin.price_change_percentage_24h > 0}" class="percentualeRossa">
                {{coin.current_price | currency: 'USD'}}
            </td>
            <td [ngClass]="{percentualeVerde: coin.price_change_percentage_24h > 0}" class="percentualeRossa text-center">
                {{coin.price_change_percentage_24h | number: '1.0-1'}}&percnt;
            </td>
            <td [ngClass]="{percentualeVerde: coin.price_change_percentage_24h > 0}"
                class="percentualeRossa extra-data">
                {{coin.high_24h | currency: 'USD'}}
            </td>
            <td [ngClass]="{percentualeVerde: coin.price_change_percentage_24h > 0}"
                class="percentualeRossa extra-data">
                {{coin.low_24h | currency: 'USD'}}
            </td>
            <td class="extra-data">
                <i class="fa-solid fa-money-bill-transfer"></i>
            </td>
        </tr>
    </tbody>
</table>

<div class="my-pagination-container" *ngIf="visible_pagination == true">
    <pagination-controls class="my-pagination" (pageChange)="page = $event" (responsive)="true">
    </pagination-controls>
</div>